.mid{
    margin: auto;
    margin-top: 40px; 
    display:inline-block;
   /* margin-left: 500px;
    width: 800px; */
}
.eachItem {
    display: flex;
    align-items: center;  
    background: rgb(252, 233, 233);
    /* width: 400px;
    margin-bottom: 8px; */
  }
  h4{
      margin-left: 4px;
  }
  .far{
      position: sticky;
      left:99%;
      margin-right: 4px;
  } 
  @media (max-width: 576px)
 {
     .add{
         margin-top: 4px;
     }
}
/* @media (min-width: 1440px) {
    .mid{
          margin-left: 500px;
          width: 800px;
    }
} */